extends layouts/main

block title
    | Восстановить пароль
block h1
    | Восстановить пароль

block content
    .row
        if $errors->any()
            .errors.card.red.white-text
                .card-content
                    each error in $errors->all()
                        .error= $error
        form.restore-form.col.s12.m6.offset-m3.card(method="POST")
            .card-content
                != csrf_field()
                .row
                    .input-field.col.s12
                        input#password(name="password" type="password")
                        label(for="password") Новый пароль
                    .input-field.col.s12
                        input#password_repeat(name="password_repeat" type="password")
                        label(for="password_repeat") Повторите пароль
                    .center
                        input(type="hidden" name="id" value=Request::input('id'))
                        input(type="hidden" name="token" value=Request::input('h'))
                        button.btn.waves-effect.waves-light.blue(type="submit") Сохранить