extends ../layouts/main

block title
    | Оплата заказа
block h1
    | Оплата заказа

block content
    form.card(method="POST")
        != csrf_field()
        .card-content.center-align
            .row Ваш заказ успешно оплачен. 
            	if $order->type == 2
            		| К вашему аккаунту прикреплён пакет на #{$order->entity->amount} панорам.
            if in_array($order->type, [1, 3, 4])
            	.row: a.btn(href=$order->entity_url) Перейти к туру
            if $order->type == 2
            	.row: a.btn(href=route('object.create')) Создать тур