@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1199px) {
  .header .main-btn {
    margin-left: 20px;
    padding: 5px 10px;
    height: 44px;
  }
  #our-advantages .line_img {
    margin-left: -670px;
  }
  #our-advantages .bg-text {
    margin-left: 0;
    left: auto;
    right: 0;
  }
  #section-faq .bg-text {
    margin-left: 0;
    left: auto;
    right: 0;
  }
  .article__navWrap {
    height: 330px;
  }
  #tariff-comparison .container {
    max-width: 100%;
  }
  #tariff-comparison .table {
    overflow-x: scroll;
  }
  #tariff-comparison .horizontal-swipe {
    display: flex;
  }
  .create-ads {
    padding: 50px 30px;
  }
  .create-ads .main-btn {
    margin-bottom: 30px;
  }
  #section-registration .bg-text {
    bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  #main-section .text-box {
    margin-bottom: 25px;
  }
  #main-section .video {
    height: 450px;
  }
  #find-ad .title2 {
    text-align: center;
  }
  #find-ad .content {
    height: auto;
    justify-content: center;
    align-items: center;
  }
  #find-ad .map {
    margin-bottom: 20px;
  }
  #creation-order {
    padding: 50px 0 50px 0;
  }
  .creation-order {
    flex-wrap: wrap;
  }
  .creation-order__item {
    margin-bottom: 80px;
    margin-right: 0;
    flex: 0 0 100%;
  }
  .creation-order__item:last-child {
    margin-bottom: 0;
  }
  .creation-order__item:nth-child(1):before {
    right: auto;
    left: 50%;
    margin-left: -25px;
    top: calc(100% + 25px);
  }
  .creation-order__item:nth-child(2):before {
    right: auto;
    left: 50%;
    margin-left: -25px;
    top: calc(100% + 40px);
  }
  #our-advantages .line_img {
    margin-left: -550px;
  }
  #our-advantages .bg-text {
    font-size: 100px;
    top: 200px;
  }
  #section-faq .bg-text {
    font-size: 100px;
  }
  .article {
    padding: 25px 0;
  }
  .article__navWrap {
    display: none;
  }
  .article__slider {
    margin-bottom: 20px;
  }
  .article .title3 {
    margin-bottom: 20px;
  }
  .article__item {
    padding-top: 0;
  }
  #reviews {
    padding: 50px 0;
  }
  .search-filter__btn {
    text-align: center;
  }
  .search-card__img {
    margin-bottom: 20px;
    height: auto;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 25px 15px;
    box-shadow: -18px 8px 20px rgba(0, 0, 0, 0.7);
    transition: .5s ease;
  }
  .sidebar .close-btn {
    display: block;
  }
  .sidebar.show {
    left: 0;
  }
  .pa .sidebar-btn {
    display: block;
  }
  .person-area table {
    margin-top: 25px;
  }
  #announcement-mainPage .announcement {
    padding-left: 30px;
  }
  .announcement__slider {
    margin-bottom: 15px;
  }
  .announcement__navSlider {
    margin-bottom: 15px;
  }
  .announcement__info {
    margin-bottom: 25px;
  }
  .footer {
    padding: 25px 0;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__logo {
    margin-bottom: 15px;
  }
  .footer__policy {
    margin-bottom: 15px;
  }
  .footer__policy a {
    display: block;
  }
  #search .tabs__head {
    flex-wrap: wrap;
  }
  #search .tabs__caption {
    margin-bottom: 15px;
  }
  .training__item {
    height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header .header-nav a {
    font-size: 14px;
    margin-left: 10px;
  }
  #how-create {
    padding: 50px 0;
  }
  #find-ad {
    padding: 50px 0 35px 0;
  }
  .creation-order__item {
    margin-right: 0;
  }
  #our-advantages .line_img {
    margin-left: -455px;
  }
  #person-area .container,
  #section-administrator .container {
    max-width: 100%;
  }
  #person-area .table,
  #section-administrator .table {
    overflow-x: scroll;
  }
  #person-area .table .horizontal-swipe,
  #section-administrator .table .horizontal-swipe {
    display: flex;
  }
  .person-area__photo {
    flex: 0 0 80px;
  }
  .person-area__head .title3 {
    margin-top: 0;
    font-size: 20px;
  }
  .person-area table tr td,
  .person-area table tr th {
    white-space: nowrap;
  }
  #search .page-filter {
    padding: 15px 0;
  }
  .page-filter {
    flex-wrap: wrap;
  }
  .page-filter__item {
    margin-bottom: 15px;
  }
  .must-have .bg-text {
    font-size: 130px;
  }
  .announcement .share {
    margin-bottom: 15px;
  }
  .jq-file__name {
    width: calc(50% - 15px);
  }
  .jq-file__browse {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 575px) {
  .header {
    padding: 5px 0;
  }
  .header .header-nav {
    display: none;
  }
  .header .mobMenu-btn {
    display: block;
    margin-left: auto;
  }
  .header .sidebar-btn {
    margin-bottom: 0;
  }
  .header_content {
    align-items: center;
  }
  .header .logo {
    width: 44px;
    margin-bottom: 0;
  }
  .bg-text {
    display: none;
  }
  .section_img {
    display: none;
  }
  .title2 {
    font-size: 24px;
  }
  .title3 {
    font-size: 18px;
  }
  .next-btn {
    right: 6px;
  }
  .prev-btn {
    left: 6px;
  }
  .creation-order__item:nth-child(2)::before {
    top: calc(100% + 25px);
  }
  #main-section {
    padding: 100px 0 50px 0;
  }
  #our-advantages .line_img {
    display: none;
  }
  #our-advantages .advantages__item {
    margin-left: 0;
    margin-bottom: 20px;
  }
  #our-advantages .advantages__text {
    font-size: 16px;
  }
  #our-advantages .advantages__img {
    flex: 0 0 100px;
  }
  #our-advantages .advantages__img img {
    width: 100%;
  }
  #reviews {
    padding: 25px 0;
  }
  .reviews-slider {
    padding: 0 0;
  }
  #section-contact {
    padding: 30px 0;
  }
  .contact__links {
    justify-content: center;
  }
  .social {
    flex-wrap: wrap;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .social a {
    margin: 0 15px 15px;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__company {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }
  .footer__company a {
    margin: 0 10px;
  }
  .person-area__photo {
    margin-right: 10px;
  }
  .person-area__head .title3 {
    font-size: 14px;
    margin-bottom: 10px;
    flex: 0 0 100%;
  }
  .person-area__info {
    margin-left: 0;
  }
  .person-area__info .item {
    font-size: 12px;
  }
  .person-area__search input {
    padding-right: 60px;
  }
  .person-area__search button {
    width: 50px;
    padding: 0;
    background-image: url('../img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  .person-area table tr th,
  .person-area table tr td {
    font-size: 14px;
  }
  .person-area table {
    margin-top: 0;
  }
  .sidebar-btn {
    margin-left: auto;
  }
  .header.pa .mobMenu-btn {
    margin-left: 20px;
  }
  #goods .title2 {
    margin-bottom: 25px;
  }
  #other-ad {
    padding-bottom: 20px;
    top: 0px;
    padding: 25px 0 70px 0;
    margin-bottom: 0px;
  }
  #other-ad .title2 {
    margin-bottom: 20px;
  }
  .page-filter__item {
    flex-wrap: wrap;
  }
  .page-nav a:first-child {
    margin-right: 10px;
  }
  .page-nav a:first-child span {
    display: none;
  }
  .page-nav a:last-child {
    margin-left: 10px;
  }
  .page-nav a:last-child span {
    display: none;
  }
  #search {
    overflow: hidden;
  }
  #search .tabs__head {
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-left: -20px;
    margin-right: -20px;
  }
  #search .tabs__head li {
    width: 49%;
    justify-content: center;
    font-size: 11px;
  }
  #search .tabs__head .tabs__caption {
    margin-left: 0px;
    margin-bottom: 15px;
    width: 100%;
  }
  #search .tabs__head .filter-btn {
    margin-top: 25px;
    margin-right: 20px;
  }
  #search .type-property {
    width: 100%;
  }
  #search .type-property .switch-btn {
    width: 49%;
    justify-content: center;
    font-size: 11px;
  }
  .page-filter__sort {
    width: 155px;
  }
  .search-filter {
    padding: 20px 0;
  }
  .search-filter .formgroup {
    margin-bottom: 15px;
  }
  .page-nav {
    padding: 20px 0;
  }
  .announcement__navSlider .slick-slide {
    margin: 0 5px;
  }
  .announcement__navSlider .slick-list {
    margin: 0 -5px;
  }
  .announcement .map {
    margin-bottom: 25px;
  }
  #how-create {
    padding: 25px 0;
  }
  #how-create .video {
    height: 300px;
  }
  .creation-order__item:nth-child(2) {
    margin-bottom: 40px;
  }
  .share span {
    margin-bottom: 15px;
  }
  .share a {
    margin-right: 10px;
  }
  .input_file {
    height: 120px;
  }
  .input_file .jq-file__name {
    width: 100%;
  }
  .input_file .jq-file__browse {
    width: 100%;
    top: auto;
    bottom: 0;
  }
  #create-ads {
    padding-bottom: 30px;
  }
  .create-ads__item {
    height: auto;
    margin-bottom: 20px;
  }
  .create-ads__img {
    margin-left: 0;
  }
  .create-ads__text {
    margin-left: 15px;
  }
  .create-ads__input {
    margin-bottom: 0;
  }
  .add-documents__title {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .add-documents a {
    margin-right: 15px;
  }
  .data-ads button {
    margin-left: auto;
    margin-right: auto;
  }
  #section-registration {
    background-image: none;
    background-color: #F9F9F9;
    padding: 50px 0;
  }
  .registration {
    padding: 50px 25px;
  }
  .registration .main-btn {
    width: 100%;
  }
  #section-administrator {
    padding: 30px 0;
  }
}
