@media screen and (min-width:1200px) {
	.container {
		max-width: 1170px;
	}
}

@media screen and (max-width:1199px) {
	.header {
		.main-btn {
			margin-left: 20px;
			padding: 5px 10px;
			height: 44px;
		}
	}

	#our-advantages {
		.line_img {
			margin-left: -670px;
		}

		.bg-text {
			margin-left: 0;
			left: auto;
			right: 0;
		}
	}

	#section-faq {
		.bg-text {
			margin-left: 0;
			left: auto;
			right: 0;
		}
	}

	.article__navWrap {
		height: 330px;
	}

	#tariff-comparison {
		.container {
			max-width: 100%;
		}
		.table {
			overflow-x: scroll;
		}

		.horizontal-swipe {
			display: flex;
		}
	}

	.create-ads {
		padding: 50px 30px;

		.main-btn {
			margin-bottom: 30px;
		}
	}

	#section-registration {
		 .bg-text {
		 	bottom: 0;
		 }
	}
}

@media screen and (max-width:991px) {
	// .header {
	// 	position: relative;

	// 	.header-nav {
	// 		margin-left: auto;
	// 	}
	// }

	#main-section {
		.text-box {
			margin-bottom: 25px;
		}
		.video {
			height: 450px;
		}
	}

	#find-ad {
		.title2 {
			text-align: center;
		}
		.content {
			height: auto;
			justify-content: center;
			align-items: center;
		}

		.map {
			margin-bottom: 20px;
		}
	}

	#creation-order {
		padding: 50px 0 50px 0;
	}

	.creation-order {
		flex-wrap: wrap;

		&__item {
			margin-bottom: 80px;
			margin-right: 0;
			flex: 0 0 100%;

			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(1):before {
				right: auto;
				left: 50%;
				margin-left: -25px;
				top: ~"calc(100% + 25px)";
			}
			&:nth-child(2):before {
				right: auto;
				left: 50%;
				margin-left: -25px;
				top: ~"calc(100% + 40px)";
			}
		}
	}

	#our-advantages {
		.line_img {
			margin-left: -550px;
		}

		.bg-text {
			font-size: 100px;
			top: 200px;
		}
	}

	#section-faq {
		.bg-text {
			font-size: 100px;
		}
	}

	.article {
		padding: 25px 0;
		&__navWrap {
			display: none;
		}

		&__slider {
			margin-bottom: 20px;
		}

		.title3 {
			margin-bottom: 20px;
		}

		&__item {
			padding-top: 0;
		}
	}

	#reviews {
		padding: 50px 0;
	}

	.search-filter {
		&__btn {
			text-align: center;
		}
	}

	.search-card {
		&__img {
			margin-bottom: 20px;
			height: auto;
		}
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		width: 250px;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		padding: 25px 15px;
		box-shadow: -18px 8px 20px rgba(0, 0, 0, 0.7);
		transition: .5s ease;

		.close-btn {
			display: block;
		}

		&.show {
			left: 0;
		}
	}

	.pa {
		.sidebar-btn {
			display: block;
		}
	}

	.person-area {
		table {
			margin-top: 25px;
		}
	}

	#announcement-mainPage {
		.announcement {
			padding-left: 30px;
		}
	}

	.announcement {
		&__slider {
			margin-bottom: 15px;
		}

		&__navSlider {
			margin-bottom: 15px;
		}

		&__info {
			margin-bottom: 25px;
		}
	}

	.footer {
		padding: 25px 0;
		&__content {
			flex-wrap: wrap;
		}

		&__logo {
			margin-bottom: 15px;
		}
		&__policy {
			margin-bottom: 15px;

			a {
				display: block;
			}
		}
	}

	#search {
		.tabs__head {
			flex-wrap: wrap;
		}

		.tabs__caption {
			margin-bottom: 15px;
		}
	}

	.training {
		&__item {
			height: auto;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width:767px) {
	.header {
		.header-nav a {
			font-size: 14px;
			margin-left: 10px;
		}
	}

	#main-section {
		// padding: 55px 0;
	}

	#how-create {
		padding: 50px 0;
	}

	

	#find-ad {
		padding: 50px 0 35px 0;
	}

	.creation-order {
		&__item {
			margin-right: 0;
		}
	}

	#our-advantages {
		.line_img {
			margin-left: -455px;
		}
	}

	#person-area,
	#section-administrator {
		.container {
			max-width: 100%;
		}

		.table {
			overflow-x: scroll;

			.horizontal-swipe {
				display: flex;
			}
		}
	}

	.person-area {
		&__photo {
			flex: 0 0 80px;
		}

		&__head {
			.title3 {
				margin-top: 0;
				font-size: 20px;
			}
		}

		table tr td,
		table tr th {
			white-space: nowrap;
		}
	}

	#search .page-filter {
		padding: 15px 0;
	}

	.page-filter {
		flex-wrap: wrap;
		&__item {
			margin-bottom: 15px;
		}
	}

	.must-have {
		.bg-text {
			font-size: 130px;
		}
	}

	.announcement {
		.share {
			margin-bottom: 15px;
		}

		&__btns {

		}
	}

	.jq-file {
		&__name {
			width: ~'calc(50% - 15px)';
		}

		&__browse {
			width: ~'calc(50% - 15px)';
		}
	}
}

@media screen and (max-width:575px) {

	.header {
		padding: 5px 0;
		.header-nav {
			display: none;
		}
		.mobMenu-btn {
			display: block;
			margin-left: auto;
		}

		.sidebar-btn {
			margin-bottom: 0;
		}

		&_content {
			align-items: center;
		}

		.logo {
			width: 44px;
			margin-bottom: 0;
		}
	}

	.bg-text {
		display: none;
	}
	
	.section_img {
		display: none;
	}
	.title2 {
		font-size: 24px;
	}

	.title3 {
		font-size: 18px;
	}
	.next-btn {
		right: 6px;
	}

	.prev-btn {
		left: 6px;
	}
	.creation-order{
		&__item:nth-child(1)::before {
			
		}
		&__item:nth-child(2)::before {
			top: ~"calc(100% + 25px)";
		}
	}

	#main-section {
		padding: 100px 0 50px 0;
	}

	#our-advantages {
		.line_img {
			display: none;
		}

		.advantages {
			&__item {
				margin-left: 0;
				margin-bottom: 20px;
			}

			&__text {
				font-size: 16px;
			}
			&__img {
				flex: 0 0 100px;

				img {
					width: 100%;
				}
			}
		}
	}

	#reviews {
		padding: 25px 0;
	}

	.reviews-slider {
		padding: 0 0;
	}

	#section-contact {
		padding: 30px 0;
	}

	.contact {
		&__links {
			justify-content: center;
		}
	}

	.social {
		flex-wrap: wrap;
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
		a {
			margin: 0 15px 15px;
		}
	}

	.footer {
		&__content {
			flex-wrap: wrap;
		}

		&__logo {
			margin-bottom: 20px;
		}

		&__company {
			margin-left: 0;
			width: 100%;
			justify-content: center;

			a {
				margin: 0 10px;
			}
		}
	}

	.person-area {
		&__photo {
			margin-right: 10px;
		}

		&__head .title3 {
			font-size: 14px;
			margin-bottom: 10px;
			flex: 0 0 100%;
		}

		&__info {
			margin-left: 0;

			.item {
				font-size: 12px;
			}
		}

		&__search {
			input {
				padding-right: 60px;
			}
			button {
				width: 50px;
				padding: 0;
				background-image: url('../img/search.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 20px;
			}
		}

		table tr th,
		table tr td {
			font-size: 14px;
		}

		table {
			margin-top: 0;
		}
	}

	.sidebar-btn {
		margin-left: auto;
	}

	.header.pa .mobMenu-btn {
		margin-left: 20px;
	}

	#goods {
		.title2 {
			margin-bottom: 25px;
		}
	}

	#other-ad {
		padding-bottom: 20px;
		top: 0px;
	    padding: 25px 0 70px 0; 
	    margin-bottom: 0px; 
		.title2 {
			margin-bottom: 20px;
		}
	}

	.page-filter {
		&__item {
			flex-wrap: wrap;
		}
	}

	.page-nav {
		a:first-child {
			margin-right: 10px;
			span {
				display: none;
			}
		}
		a:last-child {
			margin-left: 10px;
			span {
				display: none;
			}	
		}
	}

	#search {
		overflow: hidden;
		.tabs {
			&__head {
				flex-wrap: wrap;
				margin-bottom: 25px;
				margin-left: -20px;
				margin-right: -20px;

				li {
					width: 49%;
					justify-content: center;
					font-size: 11px;
				}

				.tabs__caption {
					margin-left: 0px;
					margin-bottom: 15px;
					width: 100%;
				}

				.filter-btn {
					margin-top: 25px;
					margin-right: 20px;
				}
			}
		}

		.type-property {
			width: 100%;
			.switch-btn {
				width: 49%;
				justify-content: center;
				font-size: 11px;
			}
		}
	}
	.page-filter {
		&__sort {
			width: 155px;
		}
	}
	.search-filter {
		padding: 20px 0;

		.formgroup {
			margin-bottom: 15px;
		}
	}

	.page-nav {
		padding: 20px 0;
	}

	.announcement {
		&__navSlider {
			.slick-slide {
			    margin: 0 5px;
			}
			.slick-list {
			    margin: 0 -5px;
			}
		}

		.map {
			margin-bottom: 25px;
		}
	}

	#how-create {
		padding: 25px 0;
		.video {
			height: 300px;

		}
	}

	.creation-order {
		&__item {
			&:nth-child(2) {
				margin-bottom: 40px;
			}
		}
	}

	.share {
		span {
			margin-bottom: 15px;
		}

		a {
			margin-right: 10px;
		}

		&__btn {
			
			
		}
	}

	.input_file {
		height: 120px;

		.jq-file__name {
			width: 100%;
		}

		.jq-file__browse {
			width: 100%;
			top: auto;
			bottom: 0;
		}
	}

	#create-ads {
		padding-bottom: 30px;
	}

	.create-ads {
		&__item {
			height: auto;
			margin-bottom: 20px;
		}

		&__img {
			margin-left: 0;
		}

		&__text {
			margin-left: 15px;
		}

		&__input {
			margin-bottom: 0;
		}
	}

	.add-documents {
		&__title {
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
		}

		a {
			margin-right: 15px;
		}
	}

	.data-ads {
		button {
			margin-left: auto;
			margin-right: auto;
		}
	}

	#section-registration {
		background-image: none;
		background-color: #F9F9F9;
		padding: 50px 0;
	}

	.registration {
		padding: 50px 25px;

		.main-btn {
			width: 100%;
		}
	}

	#section-administrator {
		padding: 30px 0;
	}
}

// header {
// 	display: none;
// }

.main-page {
	
}

.semicircle_bg {
	// display: none;
}

#creation-order {
	 
}

#our-advantages {
 
}



#reviews {
}

.article {

}

#main-section {

}

// .footer {
// 	display: none;
// }