| Здравствуйте.
br
br
| Вы получили это письмо, поскольку был сделан запрос на восстановление вашего пароля по адресу 
= url('/')
br
| Если вы не делали такой запрос, проигнорируйте это сообщение.
br
br
= 'Ваш логин: '.$user->login
br
br
| Чтобы установить новый пароль на вашу учетную запись, необходимо перейти по ссылке
br
a(href=route('password').'?h='.$user->restore_token.'&id='.$user->id)= route('password').'?h='.$user->restore_token.'&id='.$user->id