extends ../layouts/main

block title
    | Наши контакты

block content
    .card
        .card-content
            p Реквизиты Компании
            p Общество с ограниченной ответственностью «Чистота»
            p Юридический адрес: 680014, г. Хабаровск, ул. Проспект 60 лет октября 180 литер В
            p Почтовый адрес: 680038, г. Хабаровск, ул. Серышева, дом 34
            p ОГРН 1152724000571 ИНН 2724198670
            p E-Mail: admin@krugomdom.com